/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto:wght@500&display=swap');


/* Utilities */
body {
    font-family: 'Poppins', sans-serif;
    background: #f3f1ff;
    margin: 0px;
}

main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.container {
    background: #FFFFFF;
    width: 870px;
    padding: 30px;
    margin-top: 21px;
    border-radius: 5px;
    margin-bottom: 28px;
}

/* Header Styles */
.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #562EFF;
    height: 94px;
    margin-bottom: 9px;
}

.nav .idea-area {
    display: flex;
    align-items: center;
    gap: 16px;
}

.idea-area .idea-text {
    font-weight: 500;
    font-size: 24px;
    color: #FFFFFF;
}

.idea-area img {
    width: 40.42px;
    height: 51px;
}

.menu-bar .menu-items {
    display: flex;
    gap: 36px;
}

.menu-bar {
    display: flex;
    gap: 36px;
}

.menu-bar .menu-items li {
    list-style-type: none;
}

.menu-bar .menu-items li a {
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 16px;
}

.menu-bar img {
    width: 51px;
    height: 51px;
}

/* Top Players Styles */
.top-players {
    margin-bottom: 30px;
}

.section-title {
    color: #562EFF;
    font-size: 24px;
    margin-top: 3px;
}

.players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
}

.player {
    display: flex;
    align-items: center;
}

.player img {
    width: 56px;
    height: 56px;
}

.player-name {
    margin-left: 16px;
    font-size: 18px;
}

hr {
    border: 1px solid #D1D1D1;
    margin-bottom: 30px;
}

/* Top Blogs Styles */
.blogs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 26px;
}

.blog {
    display: flex;
    align-items: center;
}

.blog .thubmnail img {
    width: 177px;
    height: 117px;
}

.blog-info {
    margin-left: 16px;
}

.blog-title {
    font-size: 20px;
}

.blog-author {
    color: #9F9F9F;
    font-size: 16px;
}

.blog-author a {
    text-decoration: none;
    color: #562EFF;
    font-size: 16px;
}

/* Latest Course Styles */
.courses {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 24px;
    margin: 0px auto;
}

.course {
    background-color: #f3f1ff;
    width: 240px;
    padding: 18px 17px 18px 11px;
    border-radius: 15px;
    filter: drop-shadow(0px 5.34229px 13.3557px rgba(0, 0, 0, 0.05));
}

.course .course-banner img {
    width: 100%;
}

.course-details .course-title {
    font-family: 'Roboto', sans-serif;
    font-size: 20.0336px;
}

.course-details .course-author {
    color: #ED6B4F;
    font-weight: 400;
    font-size: 14.6913px;
    font-family: 'Roboto';
}

.course-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.fa-star {
    font-size: 12px;
}

.course-info .filled {
    color: #FFC014;
}

.course-info .empty,
p {
    color: #AEAEAE;
}

.course-info .duration {
    color: #FF4A60;
    background-color: #FFE4E8;
    border-radius: 15px;
    padding: 5px;
}

.hide {
    display: none;
}

/* Media Query Styles */

/* Mobile Devices */
@media only screen and (max-width:688px) {
    .container{
        width: 100%;
    }
    .section-title{
        margin-left: 10px;
    }
    .players, .blogs, .courses{
        grid-template-columns: repeat(1, 1fr);
    }
    .courses, .blogs{
        width: 80%;
        margin: 0 auto;
    }


    .player{
        flex-direction: column;
    }
    .course{
        margin-bottom: 40px;
    }
}
/* Tablet Devices */
@media only screen and (min-width:689px) and (max-width:992px){
    
}